/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */

/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
    display: none;
}

/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
    display: none;
}

html { background-color: #bbdcef;
}

body {
    background-color: #b0bec57a;
}

wrapper.all {
    max-width: 800px;
    margin: 0 auto;
    background-color: #bbdcef;
}

article {
    padding-left: 1em;
    padding-bottom: 2em;
}
.site-logo {
    display: none;
}

.site-logo-text {
    font-size: 30px;
    font-weight: bold;
}

figure.figure.right {
    float: right;
    margin-left: 6px;
}

figure.figure.left {
    float: left;
    margin-right: 6px;
}

.rm-navbar ul {
    list-style: none;
}

* {
    box-sizing: border-box;
}

.footer-column {
    width: 25%;
    float: left;
    display: none;
    background-color: #b0bec57a;
}

.block.site-footer {
    text-align: center;
}
